{% load static %}
<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстрація | PetCare Control</title>
    <link rel="stylesheet" href="{% static 'main/css/regiser.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="reg-card">
    <div class="reg-header">
        <div class="logo">Pet<span>Care</span></div>
        <h1>Замовити послугу</h1>
        <p>Оберіть зручний час та послугу</p>
    </div>

    <form method="post">
        {% csrf_token %}
        
        <div class="input-group">
            <label>Оберіть послугу (гамбургер)</label>
            {{ form.service }}
        </div>

        <div class="input-group">
            <label>Ваш номер телефону</label>
            {{ form.customer_phone }}
        </div>

        <div class="input-group">
            <label>Дата візиту</label>
            {{ form.order_date }}
        </div>

        <button type="submit" class="btn-reg">Підтвердити запис</button>
    </form>
</div>
</body>

</html>